<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-5 mx-5 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="/img/logoEgg.png" width="30" height="38">
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
    </div>

    <ul class="nav col-auto list-unstyled d-flex justify-content-center">
        <li>
            <a href="https://www.facebook.com/EggTechDigital" class="btn btn-icon btn-round social-facebook m-1 text-muted" >
                <i class="icon fa text-white fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li class="ms-3">
            <a href="https://www.linkedin.com/company/eggeducacionarg/" class="btn btn-icon btn-round social-linkedin m-1">
                <i class="icon fa text-white fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
        <li class="ms-3">
            <a href="https://www.instagram.com/eggcooperation/" class="btn btn-icon btn-round social-instagram m-1 text-muted">
                <i class="icon fa text-white fa-instagram" aria-hidden="true"></i>
            </a>
        </li>
        <li class="ms-3">
            <a href="https://www.youtube.com/c/EggCooperation" class="btn btn-icon btn-round social-youtube m-1 text-muted">
                <i class="icon fa text-white fa-youtube" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</footer>