.home {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    a {
        background-color: white;
        font-weight: bold;
        text-decoration: none;
        color: blueviolet;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 200px;
        border-radius: 1rem;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.19);
        transition: all .5s;

        &:hover {
            transform: scale(90%);
        }
    }
}