<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head.html :: head"></head>

<body id="fondoInicio">

<nav th:replace="/fragments/navbar.html :: nav"></nav>

<main class="min-vh-100">
    <div th:replace="/fragments/title.html :: div"></div>
    <div class="row row-cols-1 row-cols-md-2 g-4 mx-5">
        <a th:href="@{/noticia/__${noticia.id}__}" th:each="noticia : ${noticias}"
           class="col p-4 link-offset-2 link-underline link-underline-opacity-0">
            <div class="card border-dark">
                <div class="card-header text-bg-info text-center border-dark"><h5 class="textCard" th:text="${noticia.titulo}"></h5>
                </div>
                <img src="..." class="card-img-top" alt="...">
                <small class="text-body-secondary" th:text="${noticia.fecha}"></small>
            </div>
        </a>
    </div>
</main>

<footer th:replace="/fragments/footer.html :: footer"></footer>
<div th:replace="/fragments/imports.html :: div"></div>
</body>

</html>
