<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head.html :: head"></head>

<body id="fondoNoticia">

<nav th:replace="/fragments/navbar.html :: nav"></nav>

<main class="container-fluid min-vh-100">

    <div th:replace="/fragments/title.html :: div"></div>

    <div class="ms-5 col-8">
        <h2 th:text="${noticia.titulo}"></h2>
        <hr class="border border-dark border-1 opacity-75">
        <img src="..." class="img-fluid rounded-start" alt="...">

        <p th:text="${noticia.cuerpo}"></p>
        <p><small class="text-body-secondary" th:text="${noticia.fecha}"></small></p>
    </div>
</main>

<footer th:replace="/fragments/footer.html :: footer"></footer>
<div th:replace="/fragments/imports.html :: div"></div>

</body>

</html>
