.header {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid lightgrey;
  padding: 1rem;
  font-size: 0.9rem;
  background-color: white;

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      color: blueviolet;
    }
  }
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .select-user {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      width: 200px;
      height: 150px;
      background-color: white;
      border-radius: 10px;

      h3 {
        color: #5d5b8d;
        margin: 0;
      }

      button {
        background-color: #7b96ec;
        border: none;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        padding: 10px;
      }
    }
  }
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .select-user {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      width: 200px;
      height: 150px;
      background-color: white;
      border-radius: 10px;

      h3 {
        color: #5d5b8d;
        margin: 0;
      }

      button {
        background-color: #7b96ec;
        border: none;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        padding: 10px;
      }
    }
  }

}

.modificar {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  text-align: center;
  width: 400px;
  height: 420px;
  border-radius: 1rem;
  background-color: white;
  padding: 2rem 1rem;

  h3 {
    color: #5d5b8d;
    margin: 0;
  }

  .form-alumno {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;

    input {
      border: none;
      border-bottom: 1px solid #a7bcff;
      padding: 15px;
      width: 250px;
    }

    button {
      background-color: #7b96ec;
      border: none;
      color: #fff;
      cursor: pointer;
      font-weight: 700;
      width: 250px;
      padding: 10px;

      &:hover {
        background-color: #6c8bf0;
      }
    }

    textarea {
      width: 250px;
      height: 100px;
      overflow: auto;
      resize: none;
    }

  }

  span {
    font-size: 0.8rem;
  }
}
